.home {
    padding: 20px;
    font-family: Arial, sans-serif;
}

h2 {
    color: #2d6a4f; /* Dark green */
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    color: #52796f; /* Medium green */
}

.section {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #95d5b2; /* Light green */
    border-radius: 8px;
    background-color: #d8f3dc; /* Very light green */
}

h3 {
    color: #2d6a4f; /* Dark green */
    font-size: 1.5em;
    margin-bottom: 10px;
}

.input-box {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #95d5b2; /* Light green */
    border-radius: 4px;
    background-color: #f1faee; /* Off-white */
}

.button {
    padding: 10px 20px;
    color: #fff;
    background-color: #40916c; /* Medium dark green */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #1b4332; /* Dark green */
}

.help-list ul {
    list-style-type: none;
    padding: 0;
}

.help-list li {
    background-color: #f1faee; /* Off-white */
    border: 1px solid #95d5b2; /* Light green */
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}
