.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
    font-size: 18px;
    color: rgba(59, 59, 56, 0.98);
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 10px;
}

.container {
    background: #fff;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header-image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}