.sound-analyzer-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    marginRight: -50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    borderRadius: 10px;
    boxShadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    zIndex: 1000;
}

.sound-analyzer-overlay {
    backgroundColor: 'rgba(0, 0, 0, 0.5)';
    zIndex: 999;
}
