/* Certifications.css */

:root {
    --primary-green: #4CAF50;
    --light-green: #A5D6A7;
    --dark-green: #388E3C;
    --text-color: #333;
    --background-color: #f9f9f9;
    --white: #ffffff;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.certifications-container {
    text-align: center;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    max-width: 800px;
    margin: 0 auto;
    align-content: center;
    margin-top: 20px;
}

.certifications-container h2 {
    font-size: 2em;
    color: var(--dark-green);
    margin-bottom: 20px;
    font-family: 'Cambria Math', sans-serif;
}

.certifications-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.certification-item {
    background: var(--white);
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certification-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.certification-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.certification-item p {
    font-size: 1.2em;
    color: var(--text-color);
    text-align: center;
    font-family: 'Cambria Math', sans-serif;
    margin-top: 10px;
}

.certification-item p::before {
    content: '✔ ';
    color: var(--primary-green);
    font-weight: bold;
}
#emphasized-image {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    margin-bottom: 10px;
}
