/* Reset some default styles */
body,
ul,
li,
h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* General styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #bdb76bff;
}

.header {
  background-color: #333;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header li {
    color: #fff;
}

nav {
  max-width: 1200px;
  padding: 10px 20px;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  margin: 0 10px;
}

.link {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: #555;
}

/* Responsive design */
@media (max-width: 768px) {
  nav {
    padding: 10px;
  }

  ul {
    flex-direction: column;
    align-items: flex-start;
  }

  li {
    margin: 5px 0;
  }
}

/* Additional styles for active link */
.active {
  background-color: #007bff;
  border-radius: 4px;
}

/* Additional styles for hover effect */
a:hover {
  background-color: #575757;
}
